<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <main class="vue-main">
        <!-- <h1>{{mensaje}}</h1>
        <input type="text" v-model="mensaje"/> -->
        <elegir-ganador inline-template>
            <div>
                <h5>El ganador es: {{ganador}}</h5>
                <h5>Participantes</h5>
                <ul>
                    <li v-for="user in users">{{user}}</li>
                </ul>
                <br>
                <button @click="elegirGanador">Elegir Ganador</button>
            </div>
        </elegir-ganador>
        <desplegable inline-template>
            <section>
                <h6>Desplegables</h6>
                <select @change="selectNumber" >
                    <option  v-for="(value, number, index) in numbers" :value="value">{{value}}</option>
                </select>
                <select @change="selectNumber" >
                    <option  v-for="(value, name, index) in names" :value="index">{{value}}</option>
                </select>
            </section>
        </desplegable>
        <radio-button inline-template>
            <section>
                <h6>Radio Button</h6>
                <label>Blanco</label>
                <input type="radio" name="radio" value="B" @change="selectRadio" />
                <label>Negro</label>
                <input type="radio" name="radio" value="N" @change="selectRadio" />
            </section>
        </radio-button>
        <check-box inline-template>
            <section>
                <h6>CheckBox</h6>
                <label>Gin</label>
                <input type="checkbox" name="chack" value="G" @change="selectCheck" />
                <label>Ron</label>
                <input type="checkbox" name="chack" value="R" @change="selectCheck" />
            </section>
        </check-box>
        <input-text inline-template>
            <section>
                <h6>Input Text</h6>
                <label>Text</label>
                <input type="text" name="my_text" :value="input_value" @input="getInputText" >
            </section>
        </input-text>
        <input-range inline-template>
            <section>
                <h6>Range</h6>
                <input type="range" min="0" max="100" @change="getValueRange" />
            </section>
        </input-range>
        <datalist-component inline-template>
            <section>
                <h6>Data List</h6>
                <label>Browsers</label>
                <input list="browsers" @change="getDataListValue">
                <datalist id="browsers" >
                    <option value="Internet Explorer">
                    <option value="Firefox">
                    <option value="Chrome">
                    <option value="Opera">
                    <option value="Safari">
                </datalist>
            </section>
        </datalist-component>
        <pre>{{$data}}</pre>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>